{% extends "base.html" %}
{% block title%}Paws{% endblock %}
{% block content %}
<section style="background: linear-gradient(to right, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60)),url(https://cdn.wallpapersafari.com/75/43/6LsvWx.jpg)">
  <article class="home" id="home">
    <div class="home-content">
      <div class="home-text">
        <h1 class="text-one" style="font-family: 'Roboto Slab', 'Times New Roman', serif; font-size: 50px; font-weight: 700;">Adopt a dog </h1>
        <h4 class="text-two" style="font-family: 'Roboto';font-weight: 500; font-size: 40px;">Get a friend for life! </h4>
      </div>
      <button type="button" class="btn btn-primary" style="background-color: #643820; border-color: #643820;"><a href="#" style="text-decoration: none;">Adopt Now!</a></button>
      <iframe height="480" width="500" src="https://www.youtube.com/embed/Gk8e3Lg5GFU"></iframe>
    </div>
  </article>
</section>
<section class="py-9" style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto">
        <h3 style="font-family: Roboto Slab,sans-serif; font-weight: 600;">Read More About Us</h3>
        <p class="pe-5" style="font-family: 'Roboto';font-weight: 300;">Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
        <a href="javascript:;" class="text-primary icon-move-right">More about us
          <i class="fas fa-arrow-right text-sm ms-1"></i>
        </a>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
            <i class="fas fa-ship opacity-10"></i>
          </div>
          <div class="description ps-3">
            <p class="mb-0" style="font-family: 'Roboto';font-weight: 300;">It becomes harder for us to give others a hand. <br> We get our heart broken by people we love.</p>
          </div>
        </div>

        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
            <i class="fas fa-handshake opacity-10"></i>
          </div>
          <div class="description ps-3">
            <p class="mb-0" style="font-family: 'Roboto';font-weight: 300;">As we live, our hearts turn colder. <br>Cause pain is what we go through as we become older.</p>
          </div>
        </div>
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
            <i class="fas fa-hourglass opacity-10"></i>
          </div>
          <div class="description ps-3">
            <p class="mb-0" style="font-family: 'Roboto';font-weight: 300;">When we lose family over time. <br> What else could rust the heart more over time? Blackgold.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb-5 position-relative bg-gradient-dark mx-n3" style="top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-start mb-5 mt-5">
        <h3 class="text-black z-index-1 position-relative" style="font-family: Roboto Slab, sans-serif;">The Executive Team</h3>
        <p class="text-black opacity-8 mb-0" style="font-family: Roboto;">There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="card card-profile mt-4">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-n5">
              <a href="javascript:;">
                <div class="p-3 pe-md-0">
                  <img class="w-100 border-radius-md shadow-lg" src="https://images.unsplash.com/photo-1558788353-f76d92427f16?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZG9nJTIwcG9ydHJhaXR8ZW58MHx8MHx8&w=1000&q=80" alt="image">
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 my-auto">
              <div class="card-body ps-lg-0">
                <h5 class="mb-0">Name</h5>
                <h6 class="text-info">Breed</h6>
                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat minus temporibus perspiciatis error iste nisi quas vitae voluptatem, porro modi natus repudiandae. Esse aperiam, quos sapiente mollitia quaerat autem asperiores.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="card card-profile mt-lg-4 mt-5">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-n5">
              <a href="javascript:;">
                <div class="p-3 pe-md-0">
                  <img class="w-100 border-radius-md shadow-lg" src="#" alt="image">
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 my-auto">
              <div class="card-body ps-lg-0">
                <h5 class="mb-0">Name</h5>
                <h6 class="text-info">Breed</h6>
                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea dolorum error provident magnam architecto totam consequuntur nostrum, eius temporibus eaque facere iste itaque eveniet quidem commodi quis molestiae optio rerum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-6 col-12">
        <div class="card card-profile mt-4 z-index-2">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 mt-n5">
              <a href="javascript:;">
                <div class="p-3 pe-md-0">
                  <img class="w-100 border-radius-md shadow-lg" src="#" alt="image">
                </div>
              </a>
            </div>
            <div class="col-lg-8 col-md-6 col-12 my-auto">
              <div class="card-body ps-lg-0">
                <h5 class="mb-0">Name</h5>
                <h6 class="text-info">Breed</h6>
                <p class="mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero facere assumenda tenetur laborum officia ea sequi incidunt corporis, voluptatum sint temporibus. Perspiciatis cupiditate neque voluptatem amet at placeat et ad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
